<div class="container">

<h1><%= @artist.name %></h1>

<p><img class="show-img" src="<%= @artist.img_url %>" alt="<%= @artist.name %>"></p>

<p> <b>Location:</b> <%= @artist.location %></p>
<p> <b>Genres:</b> <%= @artist.genre%></p>
<p> <b>Awards:</b> <%= @artist.awards%></p>
<p> <b>Bio:</b> <%=@artist.bio%></p>

<h2> Songs </h2>

<% @artist.songs.each do |song| %>
    <p><%= song.name %></p>
    <%end %>


<a href="/artists/delete" class="btn btn-outline-light" role="button">Delete Account</a>

<a href="/artists" class="btn btn-outline-light" role="button">Back to Artists</a>

<a href="/artists/profile/songs/new" class="btn btn-outline-light" role="button">Add New Song</a>

<%= link_to "Logout", '/artists/logout', method: :delete%>
</div>
