<h1>Log In or Create Artist</h1>


<% if flash[:errors] %>
<%= flash[:errors] %>
    <% end %>


<%= form_tag({:controller => "artists", :action => "index"}, method: :get) do %>
    <%= label_tag "username" %>
    <%= text_field_tag "username"%>
    <%= label_tag "password" %>
    <%= text_field_tag "password" %>
   <%= submit_tag "submit" %>
   <% end %>

    <%= button_to "Create Account", new_artist_path, method: :get %>