<h1><%=@user.name%> </h1>

<h3> Liked Songs </h3> 
<% @songs.each do |song| %>
<%= song.name %>
<%= song.audio_file %><br>
<% end %>

<h3> Followed Artists </h3>
<% @artists.each do |artist| %>
<%= link_to artist.name, artist_path(artist) %>
<% end %>

<a href="/users/artists" class="btn btn-outline-light" role="button">Artists</a>
<%= link_to "Logout", '/user/logout', method: :delete%>






